# Default values for sonic-helm-chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

sonic:
  password: "SecretPassword"

image:
  repository: valeriansaliou/sonic
  tag: v1.4.0
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 1491

ingress:
  enabled: false
  annotations: {}
  path: /
  hosts:
    - chart-example.local
  tls: []

persistence:
  enabled: true
  # storageClass: "-"
  accessModes:
    - ReadWriteOnce
  size: 20Gi
  annotations: {}

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
